#DarkPalette() {
    @Dark_Primary: #111111;
    @Dark_Secondary: #EEF7FF;
    @Dark_Tertiary: #1F1F1F;
    @Dark_Tertiary-2: #838383;
    @Dark_Highlight-1: #75AAB9;
    @Dark_Highlight-2: #CE83DE;
    @Roboto: 'Roboto', sans-serif;
}

#LightPalette() {
    @Light_Primary: #FFFFFF;
    @Light_Secondary: #111111;
    @Light_Tertiary: #CCCCCC;
    @Light_Tertiary-2: #1F1F1F;
    @Light_Highlight-1: #3C8AEF;
    @Light_Highlight-2: #9F297D;
    @Roboto: 'Roboto', sans-serif;
}