body {
  width: 90%;
  margin: 0 auto;
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
}
body h1,
body h2,
body p {
  color: #EEF7FF;
}
body hr:first-child {
  margin-top: 80px;
}
body .hero {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  width: 80%;
  margin: 32px auto;
}
body .hero .hero__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}
body .hero .hero__paragraph {
  grid-column: 2 / span 1;
}
body .tri-column {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
body .tri-column .streaming-release {
  flex-direction: column;
  flex-basis: calc(33.33% - 64px);
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1F1F1F;
  text-align: center;
  border: 8px solid #75AAB9;
  border-radius: 10px;
}
body .tri-column .streaming-release__hr {
  width: 60%;
}
body .tri-column .streaming-release .release {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  grid-template-rows: 2;
  width: 80%;
  margin: auto;
  text-align: left;
}
body .tri-column .streaming-release .release .release__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  margin: auto;
}
body .tri-column .streaming-release .release .release__title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
body .tri-column .streaming-release .release .release__date {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
body .tri-column .upcoming-performances {
  flex-direction: column;
  flex-basis: calc(33.33% - 64px);
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1F1F1F;
  text-align: center;
  border: 8px solid #CE83DE;
  border-radius: 10px;
}
body .tri-column .upcoming-performances__hr {
  width: 60%;
}
body .tri-column .upcoming-performances .performance {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  width: 70%;
  margin: 1em auto;
}
body .tri-column .upcoming-performances .performance__venue {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: left;
  font-size: 24px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
body .tri-column .upcoming-performances .performance__location {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  text-align: left;
  font-size: 16px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
body .tri-column .upcoming-performances .performance__ticket-availability {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  text-align: left;
  font-size: 12px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-weight: bold;
}
body .tri-column .upcoming-performances .performance__date {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 16px;
}
body .tri-column .upcoming-performances .performance__buy-button {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
  color: #111111;
  padding: 8px 2px;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}
body .tri-column .upcoming-performances .performance__buy-button--active {
  background-color: #CE83DE;
}
body .tri-column .upcoming-performances .performance__buy-button--active:hover {
  background-color: #75AAB9;
  cursor: pointer;
}
body .tri-column .upcoming-performances .performance__buy-button--inactive {
  background-color: #838383;
  color: #EEF7FF;
}
body .tri-column .merchandise {
  flex-direction: column;
  flex-basis: calc(33.33% - 64px);
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1F1F1F;
  text-align: center;
  border: 8px solid #75AAB9;
  border-radius: 10px;
}
body .tri-column .merchandise .merchandise__header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
body .tri-column .merchandise .merchandise__hr {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin: 0 auto;
  width: 75%;
}
body .tri-column .merchandise .merchandise-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-top: 32px;
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body .tri-column .merchandise .merchandise-items .merchandise-item {
  text-align: left;
  padding: 8px 12px;
  background-color: #838383;
  border-radius: 4px;
  width: 150px;
  height: 300px;
  margin: auto;
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
}
body .tri-column .merchandise .merchandise-items .merchandise-item .merchandise-item__image {
  margin: auto;
  display: block;
  border-radius: 4px;
}
body .tri-column .merchandise .merchandise-items .merchandise-item .merchandise-item__name {
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  color: #111111;
}
body .tri-column .merchandise .merchandise-items .merchandise-item .merchandise-item__colour {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #111111;
}
body .tri-column .merchandise .merchandise-items .merchandise-item .merchandise-item__price {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #111111;
}
body .tri-column .merchandise .merchandise-items .merchandise-items__shop-button {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
  color: #111111;
  padding: 8px 2px;
  border: none;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}
body .tri-column .merchandise .merchandise-items .merchandise-items__shop-button--active {
  background-color: #CE83DE;
}
body .tri-column .merchandise .merchandise-items .merchandise-items__shop-button:hover {
  background-color: #75AAB9;
  cursor: pointer;
}
body hr:last-child {
  margin-bottom: 80px;
}
