#colors() {
    @CLKWRK_Black: #111111;
    @CLKWRK_White: #EEF7FF;
    @CLKWRK_Charcoal: #1F1F1F;
    @CLKWRK_Blue: #75AAB9;
    @CLKWRK_Pink: #CE83DE;
}

#colors();

body{
    background-color: @CLKWRK_Black;
    font-family: 'Roboto', sans-serif;
}

h1, h2, p{
    color: @CLKWRK_White;
}

.tri-column {
display: flex;
flex-direction: column;
}

.hero{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
}



