#colors() {
    @CLKWRK_Black: #111111;
    @CLKWRK_White: #EEF7FF;
    @CLKWRK_Charcoal: #1F1F1F;
    @CLKWRK_Blue: #75AAB9;
    @CLKWRK_Pink: #CE83DE;
}

#colors();

body{
    background-color: @CLKWRK_Black;
}

.tri-column {
display: flex;
flex-direction: column;
}


