body {
  background-color: #111111;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: 0 auto;
}
h1,
h2,
p {
  color: #EEF7FF;
}
.main__hr:first-child {
  margin-top: 80px;
}
.main__hr:last-child {
  margin-bottom: 80px;
}
.tri-column {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  width: 80%;
  margin: 32px auto;
}
.hero__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}
.hero__paragraph {
  grid-column: 2 / span 1;
}
.streaming-release,
.upcoming-performances,
.merchandise {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.33% - 64px);
  border: 8px solid #75AAB9;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1F1F1F;
  text-align: center;
}
.release {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
}
.streaming-release__hr,
.upcoming-performances__hr {
  margin: 0 auto;
  width: 75%;
}
.release__image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  margin: auto;
}
.release__title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.upcoming-performances {
  border: 8px solid #CE83DE;
  text-align: center;
}
.performance {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 3;
  width: 50%;
  margin: auto;
}
.performance__venue {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  text-align: left;
}
.performance__location {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  text-align: left;
}
.performance__ticket-availability {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  text-align: left;
}
.performance__date {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.performance__buy-button {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
  background-color: #CE83DE;
  color: #111111;
  padding: 8px 2px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.performance__buy-button:hover {
  background-color: #75AAB9;
  /* CLKWRK_Blue color on hover */
}
.merchandise-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 40px;
  text-align: center;
}
.merchandise__header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.merchandise__hr {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin: 0 auto;
  width: 75%;
}
.merchandise-item {
  text-align: center;
  /* Optional: Center the content within each item */
  margin: auto;
  text-align: left;
}
hr {
  margin: 0%;
}
